.root {
    -main-bg: #2b2b2b;

    -fx-font-size: 24px;
    -fx-background-color: -main-bg;
    -fx-dark-text-color: #eeeeee;
    -fx-mid-text-color: #ababab;
    -fx-light-text-color: #999999;
}

.root * {
    -fx-background-color: -main-bg;
}

.kurvanagy-button {
    -fx-font-size: 1em;
    -fx-wrap-text: true;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-border-width: 2px;
    -fx-border-color: -main-bg;
    -fx-padding: 0;
}

.kurvanagy-button:hover {
    -fx-background-color: derive(-main-bg, 20%);
    -fx-border-color: derive(-main-bg, 20%);
}

.kurvanagy-button:focused {
    -fx-border-color: limegreen;
}

.kurvanagy-button:pressed {
    -fx-border-color: cornflowerblue;
}