.root {
    -main-bg: #eeeeee;

    -fx-font-size: 24px;
    -fx-background-color: -main-bg;
    -fx-dark-text-color: #121212;
    -fx-mid-text-color: #666666;
    -fx-light-text-color: #888888;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.root * {
    -fx-background-color: -main-bg;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.kurvanagy-button {
    -fx-font-size: 1em;
    -fx-wrap-text: true;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-border-width: 2px;
    -fx-border-color: -main-bg;
    -fx-padding: 0;
}

.kurvanagy-button:hover {
    -fx-background-color: derive(-main-bg, -10%);
    -fx-border-color: derive(-main-bg, -10%);
}

.kurvanagy-button:focused {
    -fx-border-color: limegreen;
}

.kurvanagy-button:pressed, .kurvanagy-button:armed {
    -fx-border-color: cornflowerblue;
}